<div class="popup-vdo">
  <button class="close">x</button>
  <iframe src="" width="100%" height="auto" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;"></iframe>
</div>